#filterSelect {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  margin-top: 10vh;
  margin-bottom: -50px;
  width: 30%;
}

body {
  background-color: rgb(203, 219, 213);
}

#petWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 45vw;
  min-width: 700px;
  height: 80vh;
  min-height: 890px;
  margin: 10vh auto 10vh auto;
  row-gap: 5%;
}

.petCard {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30%;
  height: 40%;
  border: 1px solid rgb(78, 15, 25);
  border-radius: 10%;
  overflow: hidden;
}

.petCard h1 {
  background-color: lightblue;
  text-align: center;
  margin-top: 10px;
}

.petCard img {
  align-self: center;
  width: 50%;
  min-width: 130px;
  height: 50%;
  min-height: 130px;
  max-height: 140px;
}

.petCard h3 {
  align-self: center;
}

#description {
  align-self: center;
  text-align: center;
}

#type {
  font-size: 20px;
  margin-top: 10px;
  text-align: center;
  background-color: white;
  margin-bottom: 0px;
  height: 10%;
  width: 100%;
}
